Keras==2.1.6
PyYAML==4.2b4
SQLAlchemy==1.2.4
Send2Trash==1.5.0
absl-py==0.7.0
attrs==17.4.0
checksumdir==1.0.5
coverage==4.5.1
decorator==4.3.0
detect-secrets==0.12.4
grpcio==1.18.0
h5py==2.9.0
humanize==0.5.1
mysqlclient==1.4.2.post1
networkx==2.2
numpy==1.16.4
pandas==0.24.1
pluggy==0.6.0
progressbar2==3.37.1
protobuf==3.6.1
py-cpuinfo==3.3.0
py==1.5.2
pytest-benchmark==3.1.1
pytest-cov==2.5.1
pytest-mock==1.10.0
pytest==3.4.1
python-dateutil==2.6.1
python-utils==2.3.0
pytz==2018.3
scipy==1.2.1
six==1.11.0  # Needed by absl.
tensorflow==1.14.0
wrapt==1.11.2

